.sub-course-card {
    display: flex;
    height: 60px;
    align-items: center;
    border: 1px solid #F2F2F2;
    box-shadow: 2px 2px 5px #8B8B8B;
    border-radius: 10px;
    padding: 0px 20px;
    margin: 30px 0px;
    color: #8B8B8B;
    margin-left: 50px;
}
.card-numbering {
    color: white;
    background-color: #8B8B8B;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-course-title {
    width: 90%;
    /*border: 2px solid red;*/
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.sub-course-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.sub-title-details {
    display: flex;
    align-items: center;
    width: 90%;
}

.right-details {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

.right-img {
    -moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
}

.direction-cover {
    display: flex;
    justify-content: flex-end;
    width: 10%;
}