body {
    padding: 0px;
    margin: 0px;
}

.parent-split {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 100vh;
}

.left-split {
    background-color: #6534E2;
}

/*
.right-split {
    background-color: green;
} */

/*Floating Image*/
.float-img {
    display: flex;
}

.float-img img {
    width: 80%;
    height: 80%;
    margin: 0px auto;
}

.left-text {
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-left: 40px;
}

/******************************/


.auth-modal-container {
    width: 90%;
    margin: 0px auto;
}

.top-form-design{
    height: 50px;    
}

/* design for the form svg starts*/
.bg-svg{
    width: 404px;
    height: 77px;
    position: absolute;
    left: -46px;
    z-index: 1;
}
.bg-svg-2{
    width: 339px;
    position: absolute;
    top: -54px;
    left: -15px;
}
.bg-svg-2>path{
    fill: #6cb4fd;
}
.bg-svg-3{
    width: 339px;
    position: absolute;
    top: -47px;
    left: -15px;
}
.bg-svg-3>path{
    fill: #7bc3fe82;
}
/*design for the form svg ends */
.side-word{
    z-index: 10;
    font-size: 22px;
    position: absolute;
    padding-left: 4px;
    font-weight: bolder;
    color: black;
}
.side-word:before {
    content: '';
    height: 28px;
    width: 4px;
    border-radius: 3px;
    position: absolute;
    background-color: #6534E2;
    left: -5px;
}
#close-form{
    position: absolute;
    width: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    font-size: 21px;
    font-weight: 300;
    z-index: 10;
    border-radius: 22px;
    right: 9px;
    top: -15px;
    color: white;
    cursor: pointer;
}
.form{
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}
.flex{
    display: flex;
    margin-top: 16px;
}
.flex-space-evenly{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

/*Login Button 50px down*/
.login-marg-btm {
    margin-bottom: 50px;
}

.small-text, .typesOfJobs{
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    color: gray;
}
.orange-color{
    color: black;
    cursor: pointer;
}
.orange-color-bg{
    color: white;
    cursor: pointer;
    background-color: black;
}
.blue-bg{
    color: rgb(132, 191, 255);
    font-weight: bold;
}
.forgot-password-text{
    display: flex;
    font-size: 13px;
    align-self: flex-end;
}
.form-label{
    transform: translate(20px, 16px);
    color: #ABA6AA;
    transition: 0.5s ease;
    position: absolute;
}
.form-control-input{
    width: 98%;
    height: 45px;
    font-size: 14px;
    border-radius: .25rem;
    border: 1px solid lightgray;
    text-indent: 8px;
    /*box-shadow: 3px 4px 4px #d8d8d8;*/
}
.form-group{
    padding: 10px 0px;
}

/* Javascript class */
.label-up{
    transform: translate(9px, -5px);
    color: #007CFE;
    font-size: 13px;
    height: 15px;
    transition: 0.5s ease;
    position: absolute;
    background-color: white;
    padding: 0px 3px;
}

.btn-auth{
    width: 100%;
    height: 40px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    border-radius: .25rem;
    border: 1px solid black;
    box-shadow: 3px 4px 4px #9E9E9E;
    padding: 0px;
    margin: 35px 0px 5px 0px;
}

.or-divider{
    margin: 0;
    text-align: center;
    color: #ABA6AA;
    position: relative;
    font-size: 15px;
}
.or-divider:before{
    content: '';
    right: 40px;
    position: absolute;
    width: 104px;
    top: 11px;
    height: 1px;
    background-color: #9E9E9E;
}
.or-divider:after{
    content: '';
    left: 38px;
    position: absolute;
    width: 104px;
    top: 11px;
    height: 1px;
    background-color: #9E9E9E;
}
.external-auth-container{
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.btn-fb, .btn-google{
    display: flex;
    align-items: center;
    width: 100%;
    height: 47px;
    font-size: 15px;
    margin-top: 11px;
    cursor: pointer;
    border-radius: .25rem;
    border: 1px solid #b4b4b4;
    text-indent: 8px;
    color: #9E9E9E;
    background-color: white;
    box-shadow: 3px 4px 4px #d8d8d8;
}
.btn-fb img, .btn-google img{
    width: 25px;
    height: 22px;
    margin: 0px 5px;
}

/*Terms and Conditions*/
body > div > div > div.congrats > div > div.small-text > p {
    padding: 0px 15px;
    margin: 0px;
    text-align: left;
    font-weight: 300;
}

/*Remove magin for terms text*/
body > div > div > div.congrats > div > div.small-text {
    text-align: left!important;
}

/*Forgot password color*/
body > div > div > div.congrats > div > form > div.orange-color.small-text.forgot-password-text > a {
    color: #f68a1e;
}

.ca-have-acc {
    margin-bottom: 20px;
}

/*CSS Fixes*/
.auth-modal-container {
    width: unset!important;
    margin: 20px 5%;
    padding: 0px 20px;
    background-color: white; 
    padding-bottom: 50px;
}

/*Media Querirs*/
/*On a smaller desktop screen, reduce icon and text size*/
@media (max-width: 768px) {
    .auth-modal-container {
        margin: unset!important;
    }

    body {
        background: unset!important;
        /* background-color: red!important; */
    }

    .left-split {
        display: none;
    }

    /*grid*/
    .parent-split {
        display: grid;
        grid-template-columns: 100%;
    }

    .form {
        padding: 0px;
    }

    .external-auth-container {
        padding: 0px;
    }

    body > div > div.right-split {
        margin: 0px;
    }
}

.double-option {
    display: flex;
}

.double-option div {
    display: flex;
}

input[type="checkbox" i] {
    height: 20px!important;
    width: 20px!important;
}

.right-mag {
    margin-right: 20px;
}

.typesOfJobs {
    margin-bottom: 10px;
}

.jobsNotify {
    display: none!important;
}

.test1 {
    display: block!important;
}


/*Media query on Tablet*/
@media (max-width: 768px) and (min-width: 430px) {
        body > div > div.right-split {
            margin: 0px 5vw;
        }
}